<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @pattern.brand %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @pattern.summary %>
</p>

<%= link_to 'Edit', edit_pattern_path(@pattern) %> |
<%= link_to 'Back', patterns_path %>
