<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @brand.country %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @brand.summary %>
</p>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
